.list-stores {

    height: 100%;
    width: 100%;

    .list-stores-head {
        height: 20%;
        width: 100%;

        .list-stores-btn {
            width: 340px !important;
            height: 80px !important;
        }
    }

    .list-stores-body {
        height: 80%;
        width: 100%;
    }
}
