@use '../../../../../scss/abstract/' as *;

.leaves-layout{

    height: 100%;
    width: 100%;

    .btn-config {
        width: 130px;
    }

    .leaves-add{
        height: 7%;
    }

    .leaves-list{
        height: 93%;
    }
}

