@use "../../../../../../../scss/abstract" as *;

.car-type-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.car-type-selector-header {
		width: 100%;
		font-size: 1.1rem;
		display: flex;
		gap: 30px;
		.button_first {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			.female_btn {
				width: 6vw;
				border: none;
				outline: none;

				color: $secondary--dark;
				font-size: 1.4em;

				border-radius: 10px;
				padding: 5px;
			}
		}
		.button_second {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			.female_btn {
				width: 6vw;
				padding: 5px;
				border: none;
				outline: none;
				color: $secondary--dark;

				font-size: 1.4em;

				border-radius: 10px;
			}
		}
	}
	.car-type-selector-body {
		width: 80%;
		display: flex;
		align-items: center;
		overflow-x: auto;
		padding: 10px 5px;
		// background: red;

		.car-type-card {
			padding: 10px 20px;
			border-radius: 10px;
			font-weight: 500;
			transition: all 0.2s ease-in-out;
			border: none;
			margin-right: 15px;

			@include themed() {
				background: t($background-alt);
				color: t($text-black);
				box-shadow: t($shadow-sm);

				&:hover {
					background: t($secondary);
					color: t($input-focused);
				}
			}
		}
		.car-type-card:last-child {
			margin-right: 0;
		}

		.active {
			@include themed() {
				background: t($secondary);
				color: t($input-focused);
			}
		}
	}
	.car-type-selector-footer {
		width: 10%;
	}
}
