@use '../../../../../scss/abstract' as *;

.view-cleaner-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .card,
    .card-body {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        @include themed() {
            background-color: t($background-alt);
        }
    }

    .view-cleaner-dashboard {
        width: 65%;
        height: 100%;

        .dashboard-top-section {
            height: 50%;

            @include themed() {
                background-color: t($background-alt);
            }

            .dashboard-top-center-card {
                @include themed() {
                    background-color: t($secondary);
                    color: t($background);
                }
            }

            h6 {
                @include themed() {
                    color: t($nav-text);
                }
            }

            .leaves-display {
                text-align: center;

                .leaves-display-box{
                    padding: 20px 20px 10px 20px;
                    border-radius: 10px;

                    @include themed(){
                        background: t($secondary);
                        color:  t($input-focused);
                    }

                    .division {
                        @include themed(){
                            border-right: 1px solid t($input-focused);
                        }

                        &:last-child{
                            border-right: none;
                        }

                        .value{
                            font-size: 3rem;
                            font-weight: 600;

                            @include themed(){
                                color: t($primary);
                            }
                        }
                    }
                    .view_more{
                        display: flex;
                        justify-content: flex-end;
                        font-size: 0.8rem;

                        @include themed(){
                            color: t($input-focused);
                        }
                    }
                }

                
            }
        }

        .dashboard-bottom-section {
            height: 50%;

            .card,
            .card-body {
                height: 70%;
                border-radius: 0px !important;
                text-decoration: none;

                @include themed() {
                    background-color: t($background-alt);
                    color: t($text-black);
                }
            }
        }
    }

    .view-cleaner-body {
        width: 35%;
        height: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;

        .view-profile-reviews {
            height: 50%;
            width: 100%;
            display: flex;

            .reviews-profile-picture {
                border-radius: 50px;
                overflow: hidden;
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .checked {
                color: orange;
                border: none !important;
                outline: none !important;
            }

            .cleaner-reviews-block {
                height: 90%;
                overflow: scroll;

                .cleaner-reviews-element {
                    height: 40%;
                    margin: 25px 10px 25px 0px;
                    //background-color: green;

                    .review-content {
                        // overflow: hidden;
                        // width: 100% !important;
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                        // background-color: hotpink;
                    }
                }

               
            }
        }

        .view-profile-documents {
            height: 50%;
            width: 100%;
            display: flex;
        }
    }
}
