@use "../../../../../../scss/abstract/" as *;

.slider_before {
    width: 100%;
    img {
        width: 310px;
        height: 150px;
        border-radius: 10px;
        outline: none;
        border: none;
        @include xlBreakPoint {
            height: 110px;
        }
    }
}
